
<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<h2>Products</h2>
<%= render @category.products %>

<%= link_to 'Products in details', category_products_path(@category) %>

<p>
 <%= link_to 'Back', categories_path %>
</p>