<h1>Listing Products</h1>
 
<table>
  <tr>
    <th>Item</th>
    <th>Description</th>
    <th>Price</th>
  </tr>
 
  <% @products.each do |product| %>
    <tr>
      <td><%= product.item %></td>
       <td><%= product.description %></td>
        <td><%= product.price %></td>
          <td><%= link_to 'Show', category_product_path(@category, product) %></td>
    </tr>
  <% end %>
</table>